h1 {
    text-align: center;
    font-family: "Noto Sans JP", Helvetica, sans-serif;
    color: #f8f8f2;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-family: "Noto Sans JP", Helvetica, sans-serif;
    color: #f8f8f2;
}

.box1 {
    background-color: #000;
    color: #fff;
    opacity: .5;
}

#main-text {
    color: #f8f8f2;
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: auto;
    font-family: "Noto Sans JP", Helvetica, sans-serif;
    background-color: #44475a;
    min-height: 100%;
    background: linear-gradient(0deg, rgb(146, 76, 145), rgba(0, 0, 0, 0.2)), url(../images/open-sussy.jpg);
    border: 5px solid rgba(245, 245, 255, .5);
    background-size: cover;
    border-radius: 12px;
    color: #f8f8f2;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .3);
}


#row-0 {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

#row-1 {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

#controls {
    display: flex;
    justify-content: center;
}

ul.c-ul {
    display: inline-block;
    text-align: left;
}

a {
    color: #ff79c6;
}

#glass {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropbtn {
    background-color: #e594a4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 3%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e594a4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: "Noto Sans JP", Helvetica, sans-serif;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #b3727f;
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    pointer-events: all;
}

.dropdown:hover .dropbtn {
    background-color: #b3727f;
}

button {
    background-color: #e594a4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}

button:hover {
    background-color: #b3727f;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input,
select {
    /* width: 100%; */
    padding: 12px 20px;
    height: 15%;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #232634;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #e594a4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0;
    transition: box-shadow 1s;
    border-radius: 8px;
}


select option[value="attention"] {
    background: #e594a4;
    border-radius: 8px;
}

select option[value="meditation"] {
    background: #e594a4;
    border-radius: 8px;
}


input[type=submit] {
    /* width: 100%; */
    height: 15%;
    background-color: #e594a4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b3727f;
}

#control-text {
    margin: 9px 0px;
    font-family: "Noto Sans JP", Helvetica, sans-serif;
    color: #f8f8f2;
    font-size: 36px;
}

#list {
    text-align: center;
    /* margin-top: 15; */
    backdrop-filter: blur(7px) saturate(50%);
    -webkit-backdrop-filter: blur(7px) saturate(50%);
    background-color: rgba(111, 148, 225, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 80%;
    margin: auto;
    /* margin-top: 10%; */
    border-radius: 15px;
}

#cert {
    width: auto;
}

label {
    font-size: 25px;
}

div.scrollmenu {
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

#json-btn {
    width: 15vw;
    height: 15vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.2);
}

.modal-content {
    background-color: #37696b;
    margin: auto;
    padding: 20px;
    border: 1px solid #8ac1e0;
    width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #8ac1e0;
    border-radius: 6px;
    background-color: #37696b;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 600px;
}

input::file-selector-button {
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    background-color: #e594a4;
    padding: 0.5em;
    border: thin solid #8ac1e0;
    border-radius: 3px;
}

/* Container for the toggle */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: -50px;
    margin-top: 12px;
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The track */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

/* The circular slider */
.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Toggled state */
.toggle-switch input:checked+.slider {
    background-color: #4caf50;
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(26px);
}

ol li {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}